Body{
    background-color: #E4F1FE
}
.Head{
    background-color: #446CB3;
    height: 100px;
}
.Head-ul{
        color:whitesmoke;
        list-style: none; 
        margin: 0;
        padding-left: 0;
       
}
.Head-li
{
     display: inline;
      
}
.Search
{   margin-top: 35px;
    float: left;
    width: 1000px;
}
.Head-a
{
    color: aliceblue;
}
.comingsoon{
    color: whitesmoke;
    text-align: center
    
}
.Button
{
    float: right;
}
.Footer
{
padding-left: 0px;
height: 200px;
background-color:#2C3E50;
}