.Bot-body
{   width: 800px;
    height: 600px;
    float: left;
    margin-top:10px;
    margin-left: 50px;
} 
.Bot-names 
{  
    
    font-family: Impact;
    
}
 
 
.Bot-image
{   margin-top: 40px;
    margin-left: 50px;  
    width: 150px;
    height: 150px;
    float: left;
}
.Bot-description
{
  width: 600;    
  float: left;
}
.Comment-card
{   width: 1000px;
    float: left;
}