body
{background-color: #E4F1FE;
  margin: 0;
  margin: 0 auto; border-spacing: 0; padding: 0;
 
}

A {
    color: blue; /* Цвет ссылок */
    text-decoration: none;
   }
   A:visited {
    color: blue; /* Цвет посещенных ссылок */
   }
   A:active {
    color: blue; /* Цвет активных ссылок */
   }
.Head
{    margin: 0 auto; border-spacing: 0; padding: 0;
    background-color:#22A7F0;
    height: 50px;
}   
.List
{   
    margin-left: 200px;
    margin-right: 100px;
 
}
.Card
{   width: 250px;
    height: 250px;
    margin-right: 30px;
    margin-top:  30px; 
    background-color: #FFFF;
    float: left;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.Card-name
{margin-left: 70px;

}
.Card-name-h3
{   overflow: hidden;
    font-family: Cambria;
    font-size: 10pt;
    text-overflow:  ellipsis;
    width: 120px;
}
.Card-image
{   margin-top: 10px;
    margin-left: 50px;
  
    
}
.Card-price
{
    float: left;
    width: 60px;
     
}
.Card-more
{   width: 80px;
    float: right;
    margin-bottom: 5px;
}
 