body
{ background-color:white;
  margin: 0;
  margin: 0 auto; border-spacing: 0; padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

A 
{
    color: blue; /* Цвет ссылок */
    text-decoration: none;
}

A:visited 
{
    color: blue; /* Цвет посещенных ссылок */
}

A:active 
{
    color: blue; /* Цвет активных ссылок */
}

.Header
{  
    float:left;
    top:0;
    position: absolute;
    background-color: #2ECC71;
    width: 100%;
    height: 100px;   /* Высота блока footer */
}

.Header h1
{   
    height: 50px;
    width: 100px;
    position: absolute;
    top:0;
}

.Search-panel
{
    float: left;
    margin-right: 100px;
    margin-left: 200px;
    width: 600px;
    margin-top: 30px;
    height: 40px;
}

.Search-input
{   width:1000px;
    border-radius: 20px;
    height: 40px;
}
 
.List
{   margin-top: 100px;
    margin-left: 200px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.Card
{   width: 250px;
    height: 250px;
    margin-right: 30px;
    margin-top:  30px; 
    margin-bottom:  30px; 
    background-color: whitesmoke;
    float: left;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
}

.Card-name
{ 

}

.Card-name-h3
{   overflow: hidden;
    text-overflow:  ellipsis;
    font-family: 'Gill Sans' ;
    font-size: 10pt;
    width: 120px;
}

.Card-image
{   margin-top: 10px;
    margin-left: 50px;    
}

.Card-price
{   width: 80px;
    float: right ;
    margin-bottom: 20px;    
    overflow: hidden;
    text-overflow:  ellipsis;
}

.Card-price a 
{
    border-radius: 20px;
    width:50px;
    margin-bottom: 20px;
    
    display: inline-block;
    padding: 5px 10px;  
     
    color:white;  
    background:#59ABE3;
  }

.Card-price a:hover 
{
    box-shadow: 0 0 5px rgba(0,0,0,0.3); 
    background: #3498DB;
}

.Card-developer a
{   
    text-overflow:  ellipsis;
    font-size: 10pt;
    overflow: hidden;
}

.Card-category a
{    
    text-overflow:  ellipsis;
    font-size: 10pt;
    overflow: hidden;
}

.Card-developer
{    float: left;
    width: 100px;
}

.Card-category
{   float: left;
    width: 100px;
}

.Big-card
{   
    width: 1100px;
    height: 600px;
    margin-right: 30px;
    margin-top:  30px; 
    background-color: whitesmoke;
    float: left;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);  
}

.Footer
{    
    float: left;
    width: 100%;
    height: 50px;
    background-color: #6C7A89;
}