.Comment-card
{   width: 900px;
    height: 200px;
    
   margin-left: 20px;
}
  
.Comment-head
{   float: left;
    background-color: blue;
    width: 450px;
    height: 25px;
}
.Comment-mid
{   float: left;
    background-color: aquamarine;
    width: 450px;
}
.Name-of-the-commentator
{    
}
.User-image
{   
    float: left;
    width: 50px;
    height: 50px;
}

.Comment-date
{

}