{% load static %}
<html>

<head>
  <title>BuyBots</title>
  
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body link="blue" vlink="#blue" alink="blue">
  <header class="Head">
    <h1>BuyBots</h1>
  </header>


  <div class="List">

    {% for bot in bots %}
    <div class="Card">
      <div class="Card-image">
        <img src="{% static bot.image_path %}" width="150" height="150">
      </div>
      <div class="Card-name">
        <h3 class="Card-name-h3"> {{ bot.name }} </h3>
      </div>

      <div class="Card-developer">

        <a>{{bot.id_developer}}</a>

      </div>
      <div class="Card-price">

        <a   href="{% url 'bot_detail' pk=bot.pk %}"  > {{bot.price}}</a>

      </div>

    </div>

    {% endfor %}
  </div>
</body>

</html>