{% load static %}
<html>

<head>
    <title>BuyBots</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/bot_detail.css' %}">
</head>

<body link="blue" vlink="#blue" alink="blue">
    <div class="Header">

        <div class="Search-panel">
            <form action="">
                <input class="Search-input" type="text">
            </form>
        </div>
        <h1>BuyBots</h1>
    </div>
    <div class="List">
        <div class="Big-card">
            <div class="Bot-image">
                <img src="{% static bots.image_path %}" width="150" height="150">
            </div>
            <div class="Bot-body">
                <div class="Bot-names">
                    <h1>{{bots.name}} </h1>
                </div>
                <div class="Card-developer">

                    <a href="{% url 'bot_developer' pk=bots.id_developer.pk %}">{{bots.id_developer}}</a>

                </div>
                <div class="Card-category">

                    <a href="{% url 'bot_category' pk=bots.id_category.pk %}">{{bots.id_category}}</a>

                </div>
                <div class="Card-price">

                    <a>{{bots.price}}</a>
                </div>
                <div class="Bot-description">
                    <p>
                        {{bots.description}}
                    </p>
                </div>
                <div class="Comment-card">

                    <h1> Отзывы</h1>
                      
                    {% for comment in comments %}
                    {{comment.comment}}
                    {% endfor %}
                </div>
            </div>
          
        </div>

    </div>

    <div class="Footer">
        fas
    </div>
</body>

</html>