{% load static %}
<html>

<head>
    <title>BuyBots</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/bot_detail.css' %}">
</head>

<body link="blue" vlink="#blue" alink="blue">
    <header class="Head">
        <h1>BuyBots</h1>
    </header>
    <div class="List">
        <div class="Bot-name">
            <h1>{{bots.name}}</h1>
        </div>
        <div class="Bot-image">
            <img src="{% static bot.image_path %}">
        </div>

    </div>
</body>

</html>