{% load static %}
<html>

<head>
    <title>BuyBots</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body link="blue" vlink="#blue" alink="blue">
    <div class="Header">

        <div class="Search-panel">
            <form action="">
                <input class="Search-input" type="text">
            </form>
        </div>
        <h1>BuyBots</h1>





    </div>
    <div class="List">


        <div class="Category">
            <h1> {{category.name_category}}</h1>
        </div>
        {% for bot in bots %}
        <div class="Card">
            <div class="Card-image">
                <img src="{% static bot.image_path %}" width="150" height="150">
            </div>
            <div class="Card-name">
                <h3 class="Card-name-h3"> {{ bot.name_bot }} </h3>
            </div>

            <div class="Card-developer">

                <a href="{% url  'bot_developer' developer=bot.id_developer %}">{{bot.id_developer}}</a>

            </div>
            <div class="Card-price">

                <a href="{% url 'bot_detail' en_name=bot.en_name %}"> {{bot.price}}</a>

            </div>

        </div>

        {% endfor %}


    </div>


    <div class="Footer">
        fas
    </div>
</body>

</html>